/* header */
.wknd_logo {
  width: 5em;
  float: right;
}


/*splash images*/
@-webkit-keyframes slider {
  0% { left: 0%; }
  25% { left: 0%; }
  31% { left: -100%; }
  65% { left: -100%; }
  70% { left: -200%; }
  90% { left: -200%; }
  100% { left: -300%; }
}
@-moz-keyframes slider {
  0% { left: 0%; }
  25% { left: 0%; }
  31% { left: -100%; }
  65% { left: -100%; }
  70% { left: -200%; }
  90% { left: -200%; }
  100% { left: -300%; }
}
@-o-keyframes slider {
  0% { left: 0%; }
  25% { left: 0%; }
  31% { left: -100%; }
  65% { left: -100%; }
  70% { left: -200%; }
  90% { left: -200%; }
  100% { left: -300%; }
}
@-ms-keyframes slider {
  0% { left: 0%; }
  25% { left: 0%; }
  31% { left: -100%; }
  65% { left: -100%; }
  70% { left: -200%; }
  90% { left: -200%; }
  100% { left: -300%; }
}
.slider {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto 2em auto;
  overflow: hidden;
}
.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
  -webkit-animation: 30s slider infinite;
  -moz-animation: 30s slider infinite;
  -o-animation: 30s slider infinite;
  -ms-animation: 30s slider infinite;
}
.slider figure img {
  width: 20%;
  height: auto;
  float: left;
}
/* footer */
footer {
  max-width: 40em;
  margin: auto;
  text-align: center;
  border-top: 1px solid #d3d3d3;
}
.icon-twitter {
  font-size: 2em;
}
.footer_social_icons {
  margin: 1em 0 .5em 0;
}
.footer_text {
  font-size: .6em;
  margin: 1em 0 2em 0;
}
